{# templates/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}FiguraForma - Accueil{% endblock %}

{% block body %}
<header>
    <div class="logo">FiguraForma</div>
    <nav>
  <ul class="center-menu">
    <li><a href="#home">Accueil</a></li>
    <li><a href="#categories">Catégories</a></li>
    <li><a href="#nouveautes">Nouveautés</a></li>
    <li><a href="#contact">Contact</a></li>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <li><a href="{{ path('app_favori_list') }}">Favoris</a></li>
    {% endif %}
  </ul>
</nav>
    <div class="auth-buttons">
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <span>{{ app.user.email }}</span>
    <a href="{{ path('app_logout') }}" class="auth-button">Se déconnecter</a>
  {% else %}
    <a href="{{ path('app_login') }}" class="auth-button">Se connecter</a>
    <a href="{{ path('app_register') }}" class="auth-button">S'inscrire</a>
  {% endif %}
</div>

</header>

<section class="hero">
  <h1 class="hero-title">FiguraForma</h1>
  <p class="hero-subtitle">Découvrez les figurines sous toutes leurs formes.</p>
</section>

<section class="categories hidden" id="categories">
    <h2>Nos Catégories</h2>
    <div class="category-flex">
          {% for category in categories %}
      <a href="{{ path('app_category_show', {id: category.id }) }}" class="category-card">{{ category.name }}</a>
    {% endfor %}
    </div>
  </section>

 <section class="nouveautes hidden" id="nouveautes">
  <h2>Dernières Figurines</h2>
  <div class="nouveautes-flex">
    {% for figurine in latestFigurines %}
       <a href="{{ path('app_figurine_show', {id: figurine.id}) }}" class="nouveaute-card-link">
        <div class="nouveaute-card">
          <img src="" alt="{{ figurine.name }}">
          <h3>{{ figurine.name }}</h3>
        </div>
      </a>
    {% endfor %}
  </div>
</section>

<footer>
  <div class="social-icons">
    <a href="https://www.facebook.com" target="_blank" class="social-link"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.twitter.com" target="_blank" class="social-link"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com" target="_blank" class="social-link"><i class="fab fa-instagram"></i></a>
  </div>
  <p>&copy; 2024 FiguraForma</p>
</footer>

<script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
