{% extends 'base.html.twig' %}

{% block title %}Figurine index{% endblock %}

{% block body %}
    <h1>Figurine index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for figurine in figurines %}
            <tr>
                <td>{{ figurine.id }}</td>
                <td>{{ figurine.name }}</td>
                <td>{{ figurine.price }}</td>
                <td>{{ figurine.description }}</td>
                <td>
                    <a href="{{ path('app_figurine_show', {'id': figurine.id}) }}">show</a>
                    <a href="{{ path('app_figurine_edit', {'id': figurine.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_figurine_new') }}">Create new</a>
{% endblock %}
